<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Edit Book</title>
</head>
<body>
  <form action="{{ url_for('edit') }}" method="POST">
    <input type="hidden" name="id" value="{{ book.id }}">
    <p>Book Name: {{book.title}}</p>
    <p>Book author: {{book.author}}</p>
    <p>Current Rating {{book.rating}}</p>
    <!-- <label for="new-title">New Title:</label> -->
    <input type="text" id="new-title" name="title" placeholder="New Title" />
    <!-- <label for="new-author">New Author:</label> -->
    <input type="text" id="new-author" name="author" placeholder="New Author" />
    <!-- <label for="new-rating">New Rating:</label> -->
    <input type="number" id="new-rating" name="rating" placeholder="New Rating" />
    <button type="submit">Save Changes</button>
    </form>
</body>
</html>
