{% extends "base.html" %}

{% block title %}Library{% endblock %}

{% block content %}
<div class="search-container">
  <form action="{{ url_for('search') }}" method="GET">
      <input type="text" name="q" placeholder="Search for a book">
      <button type="submit" class='btn btn-primary'>Search</button>
  </form>
</div>

<div class="buttons-container">
  <form action="{{ url_for('clear_tables') }}" method="POST">
      <button type="submit" class="btn btn-warning">Clear Tables</button>
  </form>
  <form action="{{ url_for('delete_database') }}" method="POST">
      <button type="submit" class="btn btn-danger">Delete Database</button>
  </form>
  <form action="/download_json" method="POST">
    <button type="submit">Download Entire Library</button>
  </form>
</div>

<!-- Flash Messages for Success -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        {% if category == 'success' %}
          <div class="flash-success">{{ message }}</div>
        {% else %}
          <div class="flash-message {{ category }}">{{ message }}</div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h1>My Library</h1>

{% if is_empty %}
<p>Library is empty.</p>
{% else %}
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Action</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Rating</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for book in books %}
    <tr>
      <!-- Delete Button -->
      <td>
        <a href="{{ url_for('delete', id=book.id) }}" class="btn btn-danger btn-sm">Delete</a>
      </td>
      
      <!-- Book Details -->
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.rating }}</td>

      <!-- Edit Rating Button -->
      <td>
        <a href="{{ url_for('edit', id=book.id) }}" class="btn btn-primary btn-sm">Edit Rating</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<footer class="bottom mt-4">
  <a href="{{ url_for('add') }}" class="btn btn-success">Add New Book</a>
  <a href="{{ url_for('analyze') }}" class="btn btn-success">Analyze Library</a>
</footer>
{% endblock %}